@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model invoice_web_MAPES.models.invoice

<!DOCTYPE html>
<html>
    <title>Reporte</title>
<body>
    <h1><u>REPORTE</u></h1>
    <h3>invoice #:
        @Html.DisplayTextFor(model => model.random)
    </h3><br>
    <h3>Cliente:
        @Html.DisplayTextFor(model => model.Cliente)
    </h3><br>
    <h3>Subtotal:
        @Html.DisplayTextFor(model => model.SubTotal)
    </h3><br>
    <h3>Subtotal:
        @Html.DisplayTextFor(model => model.total)
    </h3><br>
</body>
</html>