@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model company_web.models.Producto
<!DOCTYPE html>
<html>
    <title></title>
<body>
    <h1>Respuesta:
        @Html.DisplayTextFor(model => model.precioImp)
    </h1><br>
</body>
</html>