@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model company_web.models.Producto
<!DOCTYPE html>
<html>
<head>
    <title>Compañia</title>
</head>
<body>
    <form asp-controller="Home" asp-action="calcular">
        <label>Producto</label>
        <input type="text" asp-for="product"><br>
        <select asp-for="categoria">
            <option value="0.05">Camioneta</option>
            <option value="0.03">Automovil</option>
        </select>
        <input type="radio" asp-for="tProduccion" value="0.3">Nacional
        <input type="radio" asp-for="tProduccion" value="0.1">Extranjera<br>
        <label>Precio</label>
        <input asp-for="price"><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>