@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Invoice_web_2.Models.Invoice
<html>
    <title>Calculo</title>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Invoice #: @Html.DisplayTextFor(model => model.Num)           
                </li>
                <li class="list-group-item">Cliente: @Html.DisplayTextFor(model => model.cliente)
                </li>
                <li class="list-group-item">Cantidad @Html.DisplayTextFor(model => model.SubTotal)
                </li>
                <li class="list-group-item">Total: @Html.DisplayTextFor(model => model.Total)
                </li>
                <br>
                <a href="http://localhost:5000/"><button type="button" class="btn btn-warning">Regresar</button></a> 
            </ul>            
        </div>
        
    </div>


</body>
</html>