@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Invoice_web_2.Models.Invoice

<div class="text-center">
        <form asp-controller="Home" asp-action="calculo">

            <label>cliente</label>
            <input asp-for="cliente"/><br/>
            <label>Producto</label>
            <select asp-for="producto">
                <option value="100">Producto 1</option>
                <option value="50">Producto 2</option>
                <option value="80">Producto 3</option>
            </select>
            <label>Cantidad</label>
            <input asp-for="cantidad"/><br/>
            <label>Fecha</label>
            <input asp-for="fecha"/><br/>
            <input type="submit" value="Registrar"/>
        </form>
</div>
