@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Invoice_web_2.Models.Invoice
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        <div class="row justify-content-center">
            <form asp-controller="Home" asp-action="calculo">
            <div class="form-group">
                <label for="formGroupExampleInput">Cliente</label>
                <input type="text" class="form-control" asp-for="cliente" placeholder="Nombre del cliente">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Producto</label>
                <select class="form-control" asp-for="producto">
                            <option value="100">Producto 1</option>
                            <option value="50">Producto 2</option>
                            <option value="80">Producto 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Cantidad</label>
                <input type="text" class="form-control" asp-for="cantidad" placeholder="Cantidad a Solicitar">
            </div>
            <div class="form-group"> <!-- Date input -->
                <label class="control-label" for="date">Fecha de Entrega</label>
                <input class="form-control" asp-for="fecha" type="date"/>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        </div>
</div>
</body>
</html>
    

