@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model invoice_web_.models.Invoice

<!DOCTYPE html>
<html>
    <title>Calculo</title>
<body>
    <h1>REPORTE: 
        @Html.DisplayTextFor(model => model.random)
        @Html.DisplayTextFor(model => model.cliente)
        @Html.DisplayTextFor(model => model.SubTotal)
        @Html.DisplayTextFor(model => model.total)
    </h1><br>
</body>
</html>