@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model invoice_web_MAPES.models.invoice
<!DOCTYPE html>
<html>
    <title>Invoice</title>
<body>
    <h1><u>Invoice</u></h1><br/>
   
    <div>
        <form asp-controller="Home" asp-action="Registrar">
            <label>Cliente</label>
            <input asp-for="Cliente"/>  <br/>

            <label>Producto:</label>
            <select asp-for="producto">
                <option value="100">Producto 01</option>
                <option value="50">Producto 02</option>
                <option value="80">Producto 03</option>
            </select>|<br/>

            <label>Cantidad</label>
            <input asp-for="Cantidad"/> <br/>

            <label>Fecha</label>
            <input asp-for="Fecha"/><br/>
            
            <input type="submit" value="Registrar"/>

        </form>
    </div>
</body>
</html>